# compiled output
/dist
/dist_dev

# Node
node_modules/*
npm-debug.log

# TypeScript
*.map

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store
